{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<div id="make-bid-image" class="center-block">
	{%if artefact.image%}
		<img src="{{ MEDIA_URL }}{{ artefact.image }}" alt="Artefact Image" style="max-width:80%;max-height:200px;object-fit: contain;" />
	{%else%}
		<img src="{% static 'images/indiana-collection.jpg' %}" alt="Indiana Collection" style="max-width:80%;max-height:200px;object-fit: contain;" />
    {%endif%}


</div>
	<!--make-bid-image-->

<div id="make-bid-container">
	<h2>Enter New Bid For: {{artefact.name}}</h2>
	<h3>Highest Bid: €{{ highest_bid }}</h3>
	<form method="POST" class="form-padding">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-success">Bid Now!</button>
           <button type="button" class="btn btn-danger" onclick="window.history.back()" >Exit</button>
	</form>
</div><!--make-bid-container-->
{% endblock %}