{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}


<div id="add-artefact-container" class="center-block">
	<div class="add-artefact">
		<h1>Add Artefact:</h1>

		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %} {{ form|as_bootstrap }}
			<button type="submit" class="btn btn-success">Save</button>
            <button class="btn btn-danger" onclick="window.history.back()" class="waves-effect waves-light btn btn_small purple">Exit</button>
		</form>
	</div><!-- add-artefact -->
</div><!-- add-artefact-container -->


{% endblock %}