{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<div id="artefact-detail-image" class="center-block">
	{%if artefact.image%}
        <!--If artefact has an image, display it-->
		<img src="{{ MEDIA_URL }}{{ artefact.image }}" alt="Artefact Image" style="max-width:80%;max-height:200px;object-fit: contain;" />
	{%else%}
        <!--If artefact has no image, display dummy site image-->
		<img src="{% static 'images/indiana-collection.jpg' %}" alt="Indiana Collection" style="max-width:80%;max-height:200px;object-fit: contain;" />
    {%endif%}


</div>
	<!--artefact-detail-image-->

	<div id="artefact-detail-body" class="row center-block">
        <!--Display selected artefact's details to user -->
		<h2>{{ artefact.name }}</h2>
		<h4>Description:</h4>
		<p>{{ artefact.description }}</p>
		<br>
		<p>
			<h4>History:</h4>
			<p>{{ artefact.history }}</p>
			<br>
			<h4>Century:</h4> {{ artefact.century }} {{ artefact.era }}
			<br>
			<h4>Price: €</h4> {{ artefact.price }}
			<br>

			<button type="button" class="btn btn-danger" onclick="window.history.back()" >Exit</button>
            <!--Allow user to exit out of artefact display page-->
	</div>
	<!--artefact-detail-body-->
	{% endblock %}