{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="ArtefactSearch-Container" class="display center-block">
	<div class="ArtefactSearch-title" class="display center-block">
		<h3><i class="fa fa-search" aria-hidden="true"></i> Search:</h3>
		<div class="ArtefactSearch-body" class="display center-block">
			<form name="ArtefactSearch" action="{% url 'do_search_despatched' %}" method="get"
				class="center-block text-center">
				<p>Name: <input type="text" label = "artefact name" name="artefact_name"></p>
					<p>Centuries Between <input type="number" min="0" label = "century" name="low_artefact_century" value="0"> And
						<input label="century" type="number" min="0" name="high_artefact_century" value="100">

						<p>Era:
							<select type="text" label="era" name="artefact_era"></p>
                                <option value=""></option>
                                <option value="AD">AD</option>
                                <option value="BC">BC</option>
                            </select>
							<p><button class="btn btn-success" type="search">Search</button></p>
			</form>
		</div>
		<!--ArtefactSearch-body-->
	</div>
	<!--ArtefactSearch-title-->
</div>
<!--ArtefactSearch-Container-->


<div class="row row-flex">
	{% for artefact in artefacts %}

	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
		<div class="panel-body">
			<div class="artefact" style="background-image: url('{{ MEDIA_URL }}{{ artefact.image }}')"></div>

			<h3>{{ artefact.name }}</h3>
			<p class="artefact-description">{{ artefact.description|truncatewords:20 }}</p>
			<p><a href="{% url 'artefact_detail' artefact.id %}" class="btn btn-default">Read more</a></p>
			<p>{{ artefact.price }}</p>

		</div>
	</div>

	{% endfor %}
</div>

{% if artefacts.has_other_pages %}
<ul class="pagination">
	{% if artefacts.has_previous %}
	<li><a href="?page={{ artefacts.previous_page_number }}">&laquo;</a></li>
	{% else %}
	<li class="disabled"><span>&laquo;</span></li>
	{% endif %}
	{% for i in artefacts.paginator.page_range %}
	{% if artefacts.number == i %}
	<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	{% else %}
	<li><a href="?page={{ i }}">{{ i }}</a></li>
	{% endif %}
	{% endfor %}
	{% if artefacts.has_next %}
	<li><a href="?page={{ artefacts.next_page_number }}">&raquo;</a></li>
	{% else %}
	<li class="disabled"><span>&raquo;</span></li>
	{% endif %}
</ul>
{% endif %}

{% endif %}
{% endblock %}