{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="center-block">
            {% if artefact.image %}
                <div class="artefact" style="background-image: url('{{ MEDIA_URL }}{{ artefact.image }}')"></div>
            {% endif %}
            <h2>{{ artefact.name }}</h2>
            <div class="row">
                <div class="center-block">
                    <p><h4>Description:</h4>
                    <p>{{ artefact.description }}</p>
                    <br>
                    <p><h4>History:</h4>
                    <p>{{ artefact.history }}</p>
                    <br>
                    <p><h4>Century:</h4> {{ artefact.century }} {{ artefact.era }}</p>
                    <br>
                    <p><h4>Price: €</h4> {{ artefact.price }}</p>
                    <br>
                </div><!--center-block-->
            </div><!--row-->
        </div><!--center-block-->
    </div><!--row-->
{% endblock %}
