{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% if user.is_authenticated %}


<div class="ArtefactSearch-Container display center-block">
	<div class="ArtefactSearch-title display center-block">
		<h3><i class="fa fa-search" aria-hidden="true"></i> Search:</h3>
		<div class="ArtefactSearch-body display center-block">
			<form name="ArtefactSearch" action="{% url 'do_search_despatched' %}" method="get"
				class="center-block text-center form-padding">
				<!--Allow user to search for a specific artefact name-->
                <p>Name: </p>
				<p><input type="text" name="artefact_name"></p>
                    <!--Allow User to search for artefacts between inputted centuries-->
					<p>Centuries Between</p>
					<p><input type="number" min="0" name="low_artefact_century" value="0"> </p>
						<p>And</p>
						<input type="number" min="0" name="high_artefact_century" value="100">

                        <!--Allow user to serch for artefacts of an inputted era, AD or BC-->
						<p>Era:</p>
						<p><select name="artefact_era"></p>
                                <option value=""></option>
                                <option value="AD">AD</option>
                                <option value="BC">BC</option>
                            </select>
                            <br>
                            <br>
							<p><button class="btn btn-success" type="search">Search</button></p>
			</form>
            <!--ArtefactSearch-->
		</div>
		<!--ArtefactSearch-body-->
	</div>
	<!--ArtefactSearch-title-->
</div>
<!--ArtefactSearch-Container-->

<h2>Sold Artefacts:</h2>

<div class="row row-flex">
<!--Display artefacts returned by sold_artefacts view-->
	{% for artefact in artefacts %}

	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
		<div class="panel-body">
			{%if artefact.image%}
            <!--If artefact has an image display it-->
            <img src="{{ MEDIA_URL }}{{ artefact.image }}" alt="Artefact Image" style="max-width:80%;max-height:200px;object-fit: contain;" />
			{%else%}
            <!--If artefact does not have an image, display site dummy image-->
			<img src="{% static 'images/indiana-collection.jpg' %}" alt="Indiana Collection" style="max-width:80%;max-height:200px;object-fit: contain;" />
            {%endif%}

			<!--display artefact name, first 10 words of its description-->
            <h3>{{ artefact.name }}</h3>
			<p class="artefact-description">{{ artefact.description|truncatewords:10 }}</p>
            <!--allow user to read the full detail of the artefact by clicking 'Read More'-->
			<p><a href="{% url 'artefact_detail' artefact.id %}" class="btn btn-default">Read more</a></p>
			<!--display artefact price-->
            <p>{{ artefact.price }}</p>
            
            <!-- despatch item by clicking Despatch button, marking it as despatched and -->
			<!-- creating a despatch note which is displayed/saved as a pdf file-->
            <p><a href="{% url 'despatch_artefact' artefact.id %}" class="btn btn-success">Despatch</a></p>

		</div>
		<!--panel-body-->
	</div>
	<!--grid panel-default-->

	{% endfor %}
</div>
<!--row row-flex-->

{% if artefacts.has_other_pages %}
<!-- If there is more than one page of artefacts display relevant navigation-->
<!-- To previous, next and individual page numbers-->

<ul class="pagination">
	{% if artefacts.has_previous %}
	<li><a href="?page={{ artefacts.previous_page_number }}">&laquo;</a></li>
	{% else %}
	<li class="disabled"><span>&laquo;</span></li>
	{% endif %}
	{% for i in artefacts.paginator.page_range %}
	{% if artefacts.number == i %}
	<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	{% else %}
	<li><a href="?page={{ i }}">{{ i }}</a></li>
	{% endif %}
	{% endfor %}
	{% if artefacts.has_next %}
	<li><a href="?page={{ artefacts.next_page_number }}">&raquo;</a></li>
	{% else %}
	<li class="disabled"><span>&raquo;</span></li>
	{% endif %}
</ul>
{% endif %}

{% endif %}
{% endblock %}