<html>
<head>
  <title>IJ Artefact Sales</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
  </style>
</head>
<body>
  <h1>Purchase of {{ artefact_info.name }}</h1>
  
  <p>Congratulations on your purchase of {{ artefact_info.name }}, it is with great pleasure that we enclose this purchase.</p>
  <p>We hope that this will bring you many years of pleasure.</p>
  <p></p>
  <p>Your card has been debited for the amount of € {{ artefact_info.price }} (or your local equivalent) via stripe on our website. </P>
  <p></p>
  <p>Thanks & Regards</p>
  <p></p>
  <p>The Indiana Jones Artfact Team</p>
  <p>Indy House,</p>
  <p>Phibsboro,</p>
  <p>Dublin, </p>
  <p>Ireland.</p>
  <p>D07 INDY</p>
  <p></p>
  <p>Telephone: +353 1 123-4567  Mon-Fri : 9am - 5pm (GMT) </p>

  </body>
</html>