{% extends "base.html" %}
{% load bootstrap_tags %}


{% block content %}

<div class="edit-artefact-container">
	<div class="row">
		<div class="leftColumn">
			<div class="card">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %} {{ form|as_bootstrap }}
					<button type="submit" class="btn btn-success">Save</button>
					<button class="btn btn-danger" onclick="window.history.back()" class="waves-effect waves-light btn btn_small purple">Exit</button>
				</form>
			</div>
			<!--card-->
		</div>
		<!--leftColumn-->
	</div>
	<!--row-->
</div>
<!--edit-artefact-container-->




{% endblock %}